<header class="header">
  <div class="container">
    <div id="menu-logo">
      <img src="../assets/img/logo-Nissan2.png" alt="Logo Keiji Nissan" class="menu-logo--img"> 
    </div>
    <nav>
      <button id="menu-toggle" aria-label="Abrir menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <ul id="menu" class="menu">
        <li><a href="#about">Sobre Mim</a></li>
        <li><a href="#veiculos">Veículos</a></li>
        <li><a href="#PCD">PCD</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>

    </nav>
  </div>
</header>
